**/*.DS_store
.vscode

__pycache__
*/__pycache__
*.py[cod]
yarn.lock
.yarn/
.pnp.cjs

*.egg-info
.project
.pydevproject
**/*.ipynb_checkpoints
.idea
*.swp

*~

build/
!plugins/build
dist/
!plugins/**/dist

/eta/

/docs/build/
/docs/source/api/

/bin
/lib
coverage.xml
.coverage.*
pyvenv.cfg

node_modules/

packages/fiftyone-docs-search
packages/watch_importer
