#fiftyone-plotly-container {
    height: 100%;
    display: flex;
    flex-direction: flex-column;
    flex-shrink: 1;
}



#fiftyone-plotly-styles {
    display: flex;
    /* default 0 */
}

#fiftyone-plotly-map {
    display: flex;
    flex-grow: 1;
}